.admin-office{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* margin-left: 290px;
    margin-right: 20px;
    margin-top: 110px;*/
    margin-bottom: 10%; 
    animation: fade-up 0.5s;
}
.img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
  @keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
.about-office-p{
    margin-top: 35px;
}
.sub-header-r p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 50px;
    /* margin-left: 20px; */
}
.about-office-p p{
    font-size: 1.3rem;
    line-height: 27px;
}
.about-office{
    margin: 30px;
}
.adm-r{
    /* display: flex;
    align-items: center; */
    gap: 30px;
}
.adm-r-r{
    /* display: flex; */
    gap: 30px;
    /* border: 2px solid red; */
}
.adm-r-r-r{
    /* display: flex; */
    gap: 30px;
}
.des{
    font-size: 1rem;
    font-weight: 600;
    
    color: #343a40;
}
.admin-header p{
    font-size: 1.5rem;
    font-weight: 600;
}
.admin-office-main{
    gap: 20px;
}
.officers{
    padding-left: 40px;
}
.name{
    font-size: 1rem;
    font-weight: 600;
}
.officer-header{
    font-size: 1.3rem;
    font-weight: 600;
}
.about-office p{
    font-size: 1.5rem;
    line-height: 29px;
}
.hostels-unit{
    font-size: 1.3rem;
    font-weight: 600;
}
.officers{
    border-left: 1px solid black;
}
.student-admin-office{
    padding: 30px 100px;
}
.sub-header{
    margin-bottom: 7px;
}
@media screen and (min-width:1024px){
    .admin-office{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 130px;
        margin-bottom: 50%;
        
    }
    .admin-header p {
font-size: 1.2rem;
line-height: 25px;
color:#075985;
    }
    .about-office-p{
        margin-top: 35px;
        padding: 0px 20px;
    }
    .about-office-p p{
        font-size: 1.1rem;
        line-height: 30px;
    }
    .adm-r{
        display: flex;
        align-items: center;
       
    }
    .adm-r-r{
        display: flex;
      
    }
    .adm-r-r-r{
        display: flex;
       justify-content: space-between;
    }
    .name{
        font-size: 1rem;
    }
    .student-admin-office{
        padding: 10px;
        padding-right: 10px;
    }
   .sub-header-r p{
    font-size: 1.3rem;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 700;
    color: #44403c;
   }
   .des{
    font-size: 1rem;
   }
    .admin-header{
        font-size: 1.2rem;
        font-weight: 600;
    }
   .about-office{
    margin-top: 50px;
   margin-left: 0px;
   margin-right: 0px;
   padding-left: 20px;
   padding-right: 20px;
   
   }
    .admin-office h4{
    font-size: 18px;
    }
   
    .admin-office  h2{
        font-size: 12px;
    }
    .admin-office-main{
       margin: auto;
    }
    .officers{
        border: none;
        padding-left: 0px;
    }
}
@media screen and (min-width:1700px){
    .admin-office{
       
      padding-left: 30px;
      padding-right: 95px;
    }
    .sub-header-r p{
        font-size: 2.3rem;
        font-weight: 600;
    }
.about-office-p-p{
    margin-top: 50px;
}
.about-office-p p{
    font-size: 1.5rem;
    line-height: 35px;
}
    .about-office-p{
        margin-top: 35px;
    }
    .about-office-p p{
        font-size: 1.5rem;
        line-height: 35px;
    }
    .sub-header-s p{
        font-size: 2.3rem;
        font-weight: 600;
    }
    .admin-office-main{
        justify-content: space-evenly;
    }
    .about-office{
        margin-top: 50px;
    }
    .fs{
        font-size: 1.5rem;
        line-height: 30px;
    }
    .sub-header{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .sub-header p{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .name{
        font-size: 1.1rem;
    }
    
    .designation{
        font-size: 1rem;
    }
    .about-des{
        font-size: 1rem;
    }
    .student-admin-office{
        padding-left: 10px;
    }
    .officers{
        padding-left: 60px;
    }
}
