.hostels-main {
    margin-left: 290px;
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade-up 0.5s;
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
  @keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }

.hostel-image img {
    width: 550px;
    height: 470px;
}
.hosetl-image-1{
    position: relative;
    top: 0;
    bottom: 0;
    background-color: black;
}
.hostel-paragraph{
    margin-top: 30px;
}
.image-header{
    position: absolute;
    top: 200px;
    left: 210px;
    color: aliceblue;
    transition: opacity 0.3s ease-in-out;
    display: none;
}
.hosetl-image-1:hover .image-header{
    display: block;
}
.img-1:hover{
   opacity: 0.6;
}
.about-hostel{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    transition: all ease-out 0.3s;
}
.sub-header{
    font-size: var(--subheading);
}
.hostel-paragraph p{
 font-size: 1.3rem;
 line-height: 27px;
 margin: 10px 0px;
 color:#4c5157;
}
.hostel-paragraph  h2{
    margin-bottom: 8px;
    margin-top: 0px;
    color:#8b598f;
}
.sub-header p{
    font-size: 1.7rem;
}

@media screen and (max-width:1024px) {
    .image-block img{
        width: 250px;
        height: 230px;
    }
    .hostel-paragraph{
        margin-top: 0px;
    }
    .image-block{
        display: flex;
        flex-direction: column;
    }
    .image-div img{
        width: 250px;
        height: 230px;
    }
    .board-flex{
        display: flex;
        flex-direction: column;
    }
   .hostel-image{
    width: 100%;
    margin: 10px;
   }
   .hosetl-imagee-1{
    display: flex;
    flex-direction: column;
   }
   .hostel-paragraph{
    padding: 20px;
   }
    .hostels-main{
       margin-top: 110px;
       margin-left: 0px;
       margin-right: 0px;
       margin-bottom: 20%;
       width: 100%;
    }
    .hostel-image img{
        width: 400px;
    }
   
  .about-hostel{
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
  }
    
    
}
@media screen and (min-width:1700px)
{
    .hostels-main{
        padding-left: 30px;
        padding-right: 150px;
    }
    .sub-header p{
        font-size: 2.3rem;
    }
}
