*{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
h3{
    width: fit-content;
}
hr{
    margin-top: 30px;
    height: 0.5px;
    background-color: #434243;
}
.alumni-fs  h3{
    font-size: 1.4rem;
}

.heading h3{
    font-size: 2rem;
   }
   .heading h4{
    font-size: 1.6rem;
   }
.container-sw-1{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.student-division-organo{
    position: relative;
    top: 0;
    bottom: 0;
    
}
.organogram{
    position: fixed;
    top: 40%;
    left: 18%;
    background-color:rgb(246, 246, 246);
    color:darkmagenta;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    border-radius: 5px;
    background-color:#fae8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 10px 10px;
    width: 300px;
   
}
.first-fs img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.container-sw img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.associate-deans {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    animation: fade linear both;
    animation-timeline: view();
    range: entry 50% cover 50%;

}

.associate-dean-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 250px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 9px 20px;
    background-color: #fae8ff;
    margin-bottom: 10px;
}
.dean-fs{
    width: 450px;
    height: 250px;
}
.student-admin-office1{
    margin: auto;
}
.entity-header{
    position: relative;
    cursor: pointer;
}
.entity-header::after{
    position: absolute;
    content: "";
    bottom: -5px;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: rgb(107, 103, 103);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);

}
.entity-header:hover::after{
    transform: scaleX(1);
}

/* STUDENT ADMIN OFFICE */
.student-admin-office {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fae8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* HOSTELS */
.hostels {
    margin-top: 20px;
    padding: 30px 50px;
    border-radius: 10px;
    background-color: #fae8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* WELLNESS */
.wellness {
   margin-top: 20px;
   padding: 30px 50px;
    border-radius: 10px;
    background-color: #fae8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* gymkhana */
.gymkhana {
   margin-top: 20px;
   padding: 30px 50px;
    border-radius: 10px;
    background-color: #fae8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.ambulance h3{
    animation: blink 1.5s linear infinite;
}
.below-arrow{animation: below 1.5s linear infinite;}
@keyframes below{
    0%{
      opacity: 1;
      scale: 1.5;
    }
    50%{
      opacity: 0.2;
    }
    100%{
      opacity: 1;
    }
  }
@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}




/* ALUMNI */
.alumni {
    margin-top: 20px;
    padding: 30px 50px;
    border-radius: 10px;
    background-color: #fae8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.student-division-organo{
    margin-left: 290px;
    margin-top: 100px;
    margin-bottom: 30%;
}

@media screen and (min-width:1700px) {
    .info-1{
        width: 350px;
        height: 250px;
        font-size: 1.5rem;
        padding: 20px 15px;
    }
    .associate-dean-1{
        width: 200px;
        height: 300px;
        font-size: 1.5rem;
      
    }
    .organogram{
        padding-left: 20px;
        padding-right: 20px;
    }
    .associate-deans{
        display: flex;
        justify-content: center;
    }
    .information{
        padding-left: 70px;
    }
    .name-fs p{
        font-size: 1.1rem;
    }
    .former-fs{
        margin-left: 70px;
        margin-top: 50px;
    }
    .alumni-fs p{
        font-size: 1.3rem;
    }
    
}


@media screen and (max-width:1024px)  {
  
    .student-division-organo{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 110px;
        margin-bottom: 50%;
        width: 100vw;
    }
    .dean-fs{
        width: 350px;
    }
    .container-sw{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .name-fs{
        font-size: 1.1rem;
    }
    .designation-fs{
        font-size: 1rem;
    }
    .alumni-fs  h3{
        font-size: 1rem;
    }
    .alumni-fs-fs h3{
        font-size: 1rem;
    }
    .dean{
        margin-bottom: 20px;
    }
    .container-sw-1{
        margin-left: 0px;
        width: 100%;
       
    }
    .associate-deans{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
   .associate-dean-1{
   width: 250px;
    margin: 10px 50px;
    height: 180px;
    padding: 80px 30px;
   }
   .info-1{
 
    
    height: 80%;
    padding: 80px 30px;

   }
   .heading h3{
    font-size: 1.2rem;
   }
   .heading h4{
    font-size: 1.3rem;
   }
   .sub-header{
    font-size: 1.8rem;
    font-weight: 600;
    color: #414549;
   }
   .designation{
    font-size: 1.5rem;
   }
   .organogram{
    left: 10px;
    gap: 1px;
   }
   .organogram p{
    font-size: 1rem;

   }
}

 
