* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.sw-division-office{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* margin-left: 280px;
  margin-top: 110px;*/
  margin-bottom: 10%; 
}

@keyframes fade-down {
  0%{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
@keyframes fade-up {
  0%{
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
.fs-small{
  font-size: 1.1rem;
  color: #333;
}
.sw-organo{
  position: absolute;
   right: 100px;
    padding: 10px; 
    border: 2px solid #86198f; 
    font-size: 1.3rem; 
    font-weight: 600;
    width: 280px;
}
/* .wrapper{
  display: flex;
  justify-content: space-around;
} */
.wrapper>div {
  /* width: 25%; */
  border: 2px solid  #fae8ff;
  border-radius: 5px;
  background-color: #fae8ff;
  color: black;
}

.first-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  
  height: 250px;
  animation: fade-up 0.5s;
}
.first-info img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.office-staff {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 1rem;
}
.office-staff img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.office-staff-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.first-info{
  gap: 6px;
}
.office-staff-1 .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-left: 15px;
}
.click-here{animation: shad 1.5s linear infinite;}
@keyframes shad {
    0% {
        opacity: 1;
        scale: 1.1;

    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
.sw-organo{animation: shadd 1.5s linear infinite;}
@keyframes shadd{
  0%{
    
    border-bottom: 11px solid #86198f;
  }
  50%{
   
  }
  100%{
    
  }
}

@media screen and (max-width:1024px) {
  .sw-division-office{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 110px;
   
  }
  

  .designation{
    font-size: 1rem;
  }
  .about-des{
    font-size: 0.9rem;
    color: #2E2E2E;
  }
  .name{
    font-weight: 600;
    font-size: 1.1rem;
  }
  .wrapper{
    flex-wrap: wrap;
   
    gap: 40px;
  }
  .first-info{
    width: 80vw;
    margin:auto;
    height: 310px;
  }
  .sw-division-office{
    margin-top: 110px;
    
  }
  .sw-division-office-1{
    display: flex;
    flex-direction: column;
 
  }
  .about-info{
    font-size: 1.2rem;
  }
.dean{
  width: 350px;
}

  
  .sw-organo{
    position: relative;
    top: 130px;
    left: 1px;
    right: 10px;
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  
}
@media (min-width:1700px){
  .sw-division-office{
   padding-left: 100px;
   padding-right: 30px;
  }
  .dean{
    width: 100%;
  }
  .first-info{
    width: 420px;
    gap: 8px;
  }
  .name{
    font-size: 1.7rem;
  }

}
/* @media only screen and (min-width: 1700px) {
  .sw-division-office{
    margin-left: 330px;
    margin-right: 10px;
   
  }
  .first-info{
width: 420px;
height: 300px;
  }
  .office-staff img{
    width: 120px;
    height: 120px;
  }
  .name{
    font-size: 1.6rem;
    font-weight: 600;
  }
  .designation{
    font-size: 1.4rem;
    font-weight: 600;
  }
  .about-des{
    font-size: 1.2rem;
    line-height: 27px;
  }
}
 */
