.MessAndCanteen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* border: 2px solid cadetblue; */
    /* width: 80%; */
    /* margin-left: 290px; */
    background-color: white;
    /* margin-top: 120px; */
    margin-bottom: 10%;
   
    /* padding-right: 20px; */
    animation: fade-up 0.5s;
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
  @keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
.hostel-imagee{
   margin: 30px;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}
.hosetl-imagee-1 img{
    width: 450px;
    height: 350px;
    
}
.sub-header{
    font-size: 1.5rem;
}

@media screen and (max-width:1024px){
    .MessAndCanteen{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 110px;
        margin-bottom: 30%;
        width: 100%;
    }
    .hostel-imagee{
        justify-content: center;
        margin: 0px;
       
    }
    .hostel-paragraph p{
        font-size: 1.1rem;
        line-height: 30px;
    }
    
}
@media screen and (min-width:1700px){
    .MessAndCanteen{
        padding-left: 30px;
        padding-right: 150px;
    }
    .hostel-paragraph-1  p{
        font-size: 1.7rem;
        line-height: 35px;
    }
    .hostel-header p{
        font-size: 2.3rem;
    }
    .hosetl-imagee-1 img{
        width: 650px;
        height: 400px;
    }
    .home-h p{
        font-size: 2.3rem;
    }
   
    
}
