.custom-navbar {
    background-color: #85198e;
}

.custom-nav-image-wrapper {
    height: 70px;
    margin: 0.1rem 1rem 0.1rem 1rem;
}

.custom-nav-image {
    background: white;
    height: 100%;
    width: auto;
}

.custom-item-navbar {
    margin: 0.7rem;
}

/* Override Bootstrap nav-link styles */
.nav-link {
    color: #fff !important; /* Default color */
    text-decoration: none; /* Remove underline */
}
.nav-link:hover {
    color: #0ff !important; /* Color on hover */
}
.nav-link:active,
.nav-link:focus {
    color: #0ff !important; /* Color when clicked or focused */
}
/* Optional: Remove the default Bootstrap hover effect */
.nav-link:hover {
    color: inherit !important; /* Prevent Bootstrap hover color */
}


.navbar-toggler:focus {
    outline: 2px solid white; /* Remove focus outline */
}

.custom-sidebar-container {
    position: relative; /* Ensure this is set */
    background-color: #333;
}

.custom-sidebar {
    position: absolute; /* Corrected spelling */
    height: 100vh; /* Full height minus navbar height */
    top: 1px;
    width: 100%; /* Adjust width as needed */
    background-color: #85198e; /* Sidebar background color */
    transform: translateX(-100%); /* Hidden by default */
    transition: transform 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensure it's on top of other elements */
}

.custom-sidebar.open {
    transform: translateX(0); /* Show when open */
}

