@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: "Jost";
  scroll-behavior: smooth;
}

.custom-important-container {
    background-color: rgba(0, 0, 255, 0.1);
    border-bottom: 5px solid #86198f;
    margin-top: 20px;
}

.custom-sub-header {
    border-left: 5px solid #312e81;
    color: rgb(30, 64, 175);
    padding-left: 10px;
}

.custom-content {
    color: #666; /* Use the hex color without quotes */
}